force-app/main/default/flows/Account_Unpaid_Invoice_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Reset_defaults</name>
        <label>Reset defaults</label>
        <locationX>174</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_unpaid_invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unpaid_Invoice_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unpaid_Invoice_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_unpaid_invoices_for_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_account_record</name>
        <label>Update account record</label>
        <locationX>1179</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_unpaid_invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unpaid_Invoice_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_unpaid_invoices.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unpaid_Invoice_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_unpaid_invoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_unpaid_invoices</name>
        <label>Did we find unpaid invoices</label>
        <locationX>593</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Update_the_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, we did not find unpaid invoices</defaultConnectorLabel>
        <rules>
            <name>Yes_we_found_unpaid_invoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_unpaid_invoices_for_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_unpaid_invoices</targetReference>
            </connector>
            <label>Yes, we found unpaid invoices</label>
        </rules>
    </decisions>
    <interviewLabel>Account Unpaid Invoice Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Unpaid Invoice Flow</label>
    <loops>
        <name>Iterate_through_unpaid_invoices</name>
        <label>Iterate through unpaid invoices</label>
        <locationX>893</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_unpaid_invoices_for_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_account_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_unpaid_invoices_for_account</name>
        <label>Get unpaid invoices for account</label>
        <locationX>397</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_unpaid_invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_account</name>
        <label>Update the account</label>
        <locationX>601</locationX>
        <locationY>609</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Reset_defaults</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-10-30</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
